
<header>
    <nav class="bg-slate-200 dark:bg-slate-700 shadow-lg ">
        <div class="container flex flex-wrap items-center justify-center md:justify-between mx-auto py-4  ">
            <div class="flex items-center">
                <a href="" class="flex items-center mx-4 ">                
                    <span class="self-center text-xl font-semibold whitespace-nowrap font-serif text-sky-700 dark:text-white">Wgnico</span>
                </a>
            </div>
            
            <div>
                <ul class="flex bg-slate-200 text-sky-700 font-bold border-0 dark:bg-slate-700 dark:text-white">

                    <li class="px-4 py-2 text-white bg-sky-700 dark:text-white">
                        <a routerLink="">Inicio</a>
                    </li>                  
                  <li class="px-4 py-2">
                    <a href="#acercaDeMi" class="hover:text-sky-500">Acerca De Mi</a>
                  </li>
                  <li class="px-4 py-2">
                    <a href="#proyectos" class="hover:text-sky-500">Proyectos</a>
                  </li>
                </ul>
              </div>
              <div class="relative mt-0 md:mt-0">
                <div class="flex item-center dark:text-white text-sky-700">
                    @if (darkModeService.darkModeSignal() === 'dark') {
                        <button type="button" (click)="toggleDarkMode()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                            </svg>
                        </button>
                    }@else {
                        <button type="button" (click)="toggleDarkMode()">                            
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                            </svg>                         
                        </button>
                    } 
                </div>
            </div>            
        </div>
    </nav>   
</header>